@import "tailwindcss";
@import "pretendard/dist/web/variable/pretendardvariable.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-pretendard: "Pretendard";

  --breakpoint-xs: 25rem;

  --color-primary: #8888ff;
  --color-primary-50: #ececfe;
  --color-primary-100: #dcdcff;
  --color-primary-200: #bebeff;
  --color-primary-300: #a0a0ff;
  --color-primary-400: #8888ff;
  --color-primary-500: #6666ff;
  --color-primary-600: #4c4cff;
  --color-primary-700: #3333ff;
  --color-primary-800: #1a1aff;
  --color-primary-900: #0000ff;
  --color-primary-50-hsl: 240, 91%, 96%;
  --color-primary-100-hsl: 240, 100%, 93%;
  --color-primary-200-hsl: 240, 100%, 87%;
}

.article {
  @apply prose prose-neutral dark:prose-invert max-w-none;
}

.article pre {
  background-color: transparent !important;
  padding: 0 !important;
  border: 1px solid var(--color-gray-300);
}

body {
  @apply text-gray-800;
  -ms-overflow-style: none;
  overflow: scroll;
<<<<<<< HEAD:src/app/globals.css
}

/* Chrome, Safari, Edge, Opera */
body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.container {
  @apply max-w-3xl mx-auto px-8;
=======
>>>>>>> 057a29a (Feat/#9 프로젝트 노션 연동 (#16)):src/styles/globals.css
}

/* Chrome, Safari, Edge, Opera */
body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.container {
  @apply max-w-3xl mx-auto px-8;
}
